<main class="container-fluid">

    <section class="row">
    <article class="col">
      <h1><span class="date">16 Apr</span> Maayo  Techno Park  </h1>
      <button class="btn btn-block">XVC-7878700-5572 <i class="material-icons">directions </i></button>
      <button class="btn btn-block">XVC-7878700-5573 <i class="material-icons">directions </i></button>
    </article>
  </section>

  <section class="row">
    <article class="col">
      <h1><span class="date">12 May</span> Lahug Industrial Complex  </h1>
      <button class="btn btn-block">99015L-1IO0A <i class="material-icons">directions </i></button>
    </article>
  </section>

  <section class="row">
    <article class="col">
      <h1><span class="date">15 Apr</span> Professor Dante Gulapa Youth Center for Performing Arts </h1>
      <button class="btn btn-block acknowledge">Acknowledge Shippment</button>
    </article>
  </section>

  <section class="row">
    <article class="col">
      <h1><span class="date">21 Apr</span>  Bim's Cafe &amp; Gastropub</h1>
      <button class="btn btn-block">99015L-1IO0A <i class="material-icons">directions </i></button>
      <button class="btn btn-block">99015L-1IO0B <i class="material-icons">directions </i></button>
      <button class="btn btn-block">99015L-1IO0C <i class="material-icons">directions </i></button>
    </article>
  </section>

  <section class="row">
    <article class="col">
      <h1><span class="date">15 Apr</span> Puma Technologies Ltd.</h1>
      <button class="btn btn-block acknowledge">Acknowledge Shippment</button>
    </article>
  </section>

  <section class="row">
    <article class="col">
      <h1><span class="date">15 Apr</span> Weyland-Yutani Corp. </h1>
      <button class="btn btn-block acknowledge">Acknowledge Shippment</button>
    </article>
  </section>

  <section class="row">
    <article class="col">
      <h1><span class="date">21 Apr</span>  Bim's Cafe &amp; Gastropub</h1>
      <button class="btn btn-block">99015L-1IO0A <i class="material-icons">directions </i></button>
      <button class="btn btn-block">99015L-1IO0B <i class="material-icons">directions </i></button>
      <button class="btn btn-block">99015L-1IO0C <i class="material-icons">directions </i></button>
    </article>
  </section>

</main>