@import "styles.base.scss";

/* TEAL & ORANGE */

$color-primary: adjust-hue(teal, 7.5);
$color-secondary: orange;
$color-secondary: #fc0;

/* BACKGROUND */
$color-background: darken($color-primary, 15);

@import "styles.theme.scss";

//@import "styles.theme-emilia.scss";
//@import "styles.theme-teal_light.scss";


