$font-base: Alegreya Sans, serif;
$font-primary: Poppins;
$font-mono: Roboto Mono, monospace;
$font-condensed: Roboto Condensed, monospace;

$color-primary: #00796b;
$color-secondary: #ff6f00;

html,
body {
   
	

}

html {
	font-size: 16px;

}

body {
	font: 1rem/1.25 $font-base;

	
}


.container,
.container-fluid {
	padding: 0 1rem;
	.row {
		padding: 0.75rem 0 0.5rem;

		margin: 0 -1rem;
		> * {
			padding: 0 1rem;

			> * {
				margin-bottom: 0.25rem;
			}
		}
	}
}

.material-icons {
	font-weight: normal !important;
}

.logo {
	max-height: 2rem;
}

#rewards {
    background: darken(#ffa000,5);
    background: darken(#ffb300,5);
    padding: 0.375rem 0.5rem;
    color: #fff;
    font: 0.8rem/1 $font-condensed, $font-base, $font-mono;
    font-weight: 700;
    border-radius: 1rem;
}

#header,
#footer {
	background: darken($color-primary, 5);
	//background: #1AC1BD ;
	color: #fff;
}

#header {
	position: fixed;
	top: 0;
	//box-shadow: 0 0.25rem 1rem 0 rgba(#000, 0.25);
	opacity: 0.975;
}

#footer {
	position: fixed;
	bottom: 0;
	//box-shadow: 0 -0.25rem 1rem 0 rgba(#000, 0.25);
	text-align: center;
	//font-family: $font-primary;
	font-size: 0.75rem;
	text-transform: uppercase;
	.row > * {
		opacity: 0.35;

		&.active,
		&:hover {
			opacity: 1;
			cursor: pointer;
		}
		> * {
			display: block;
			font-weight: 600;
		}
		span {
			margin-bottom: 0;
		}
	}
}

#header,
#footer {
	background: $color-primary;
	color: #fff;
}

app-root {
	main {
		
	&.container,
	&.container-fluid {
		
	
		background: #fff;
		color: #111;
		z-index: -1;
		position: absolute;
		//height: 100%;
		top: 3.5rem;
		padding-bottom: 66px;
		width: 100%;

		.row {
			padding: 1rem 0 0.75rem;
			border-bottom: 1px rgba(#000, 0.15) solid;
			&:last-child {
				border: none;
			}
		}
	}
}
}

h1 {
	font: 1rem/1.125rem $font-primary;
	font: 1.125rem/1.25 $font-primary;
	//margin-bottom: 0.75rem !important;
	font-weight: 600;
	font-weight: 700;
	opacity: 0.95;
}

.date {
	float: right;
	text-align: right;
	font: 0.9rem/1 $font-base;
	font-weight: 500;
	opacity: 0.65;
	text-transform: capitalize;
	min-width: 15%;
	margin-top: 0.125rem;
	.MMMd {
		font-weight: 500;
		display: block;
	}
}

.btn {
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	min-height: 3rem;
	border-radius: 3rem;
	padding: 0.5rem 0.5rem 0.5rem 1rem;
	border: 2px rgba($color-secondary, 1) solid;

	display: flex;
	align-items: center;
	justify-content: space-between;
	font-weight: 800;
	&.acknowledge {
		background: $color-secondary;
		color: #fff;
		justify-content: center;
		//font-size: 0.95rem;
	}

	.material-icons {
		color: $color-secondary;
		//opacity: 0.65;
	}
}
