
$header-height: 5rem;
$border-radius: 1.5rem;
$border-radius: 9px;

$text-shadow: 0 1px 2px rgba($color-primary, 0.25);
$text-shadow: 0 1px 1px rgba(black, 0.125);
@mixin background-amber {
	background: adjust-hue($color-secondary, -7.5);
	background: linear-gradient(180deg, $color-secondary 15%, adjust-hue($color-secondary, -25));
	border: 1px $color-secondary solid;
	text-shadow: $text-shadow;
}
@mixin background-amber {
	background: adjust-hue($color-secondary, -7.5);
    background: linear-gradient(180deg, 
    adjust-hue($color-secondary, -10), 
    adjust-hue($color-secondary, -25));
	border: 1px adjust-hue($color-secondary, -7.5) solid;
	text-shadow: $text-shadow;
}

body,
#header,
#footer,
app-root main.container,
app-root main.container-fluid {
	background: darken($color-primary, 12.5);
	background: $color-background;
}

#header,
#footer {
	//opacity: 0.975;
	//background: red;
	opacity: 1;
	opacity: 0.975;
}
#header {
	/* background: linear-gradient(180deg, 
    #{rgba($color-background, 1)} 15% , 
    rgba($color-background, 0.95)); */
	> .row {
		align-items: center;
		height: $header-height;
		#menu-toggle {
			display: none;
		}
		#logo {
			flex: 0 0 auto;
			width: auto;
		}
	}
}

app-root {
	main {
		&.container,
		&.container-fluid {
			top: $header-height;
			padding-bottom: 63px;
			.row {
				background: $color-primary;
				background: linear-gradient(135deg, lighten($color-primary, 15), adjust-hue($color-primary, 15) 65%);
				background: radial-gradient(circle at top left, lighten($color-primary, 15), lighten($color-primary, 10) 15%, adjust-hue($color-primary, 15));
				background: radial-gradient(circle at top left, lighten($color-primary, 15), lighten($color-primary, 10) 25%, adjust-hue($color-primary, 15));
				border: none;
				color: #fff;
				margin: 0 0 1rem;
				border-radius: $border-radius;
				padding: 0.75rem 0 0.5rem;
				> * {
					padding: 0 0.5rem;
				}
				&:last-child {
					//border: 1px  $card-border solid;
					margin-bottom: 0;
				}
			}
		}
	}
}

#rewards {
	@include background-amber;
	background: adjust-hue($color-secondary, -7.5);
	//background: $color-secondary;
	border: none;
	font-size: 0.7rem;
	font-weight: 400;
	.currency {
		display: none;
	}
	/* .amount {
        font-weight: 700;
        font-size: 0.9rem;
    } */
	font-weight: 700;
	font-size: 0.9rem;
}

h1 {
	font: 1.125rem/1.125 $font-primary;
	margin: 0 0.5rem 0.625rem !important;
	opacity: 1;
	font-weight: 600;
	text-shadow: $text-shadow;
}
.btn {
	border: 2px rgba(#fff, 0.25) solid;
	background: rgba(#fff, 0.15);
	color: #fff;
	font-weight: 600;
	font: 0.95rem/1 $font-mono;
	letter-spacing: 0;
	box-shadow: 0 1px 2px rgba($color-primary, 0.75);
	&.acknowledge {
		border: none;
		@include background-amber;

		font: 1.125rem/1 $font-base;
		letter-spacing: 0.1rem;
		font-weight: 600;
	}
	.material-icons {
		color: inherit;
		opacity: 0.5;
	}
}
