
/* EMILIA */
$color-primary: #555;
$color-secondary: #d00;

$color-background: darken($color-primary, 15);


body,
#header,
#footer,
app-root main.container,
app-root main.container-fluid {
	background: darken($color-primary, 17.5);
}


app-root {
	main {
		&.container,
		&.container-fluid {
			
			.row {
                background: #fff;
                color: $color-primary;
				> * {
					padding: 0 0.5rem;
				}
				
			}
		}
	}
}

h1 {
	color: #222;
	text-shadow: none;
	font-weight: 700;
}
.btn {
	border: 2px rgba($color-primary,0.25) solid;
	color: $color-primary;
	box-shadow: none;
	&.acknowledge {
	background: $color-secondary;
	border: none;
	}
	.material-icons {
		color: $color-secondary;
		opacity: 1;
	}
}