


app-root {
	main {
		&.container,
		&.container-fluid {
			
			.row {
                background: #fff;
                color: $color-primary;
				> * {
					padding: 0 0.5rem;
				}
				
			}
		}
	}
}

h1 {
	//color: #222;
	text-shadow: none;
	font-weight: 700;
}
.btn {
	border: 2px rgba($color-primary,0.35) solid;
	color: $color-primary;
	box-shadow: none;
	&.acknowledge {
	
	border: none;
	}
	.material-icons {
	opacity: 1;
	
	}
}